*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body
{
    min-height: 100vh;
    background-color: #34495e;
}
.Main , body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Main
{
    margin-top: 10%;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.Input
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input
{
    outline: none;
    border-radius: 0px;
    padding: 5px 20px;
    border: none;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
input:focus
{
    outline: none;
}
.Input i
{
    padding: 9px;
    background-color:#34495e;
    color: #f1c40f;
    height:inherit;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Input i
{
    cursor: pointer;
}
.nav-pills .nav-link
{
    border-radius: 5px;
    margin: 5px;
    background-color: white;
    color: black;
}
.nav-link
{
    margin: 0px;
}
.Pills ul
{
    padding:5px 0px;
}
button
{
    border: none;
    margin: 5px;
}
button:focus
{
    outline: none;
    border: none;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: #34495e;
    color: #f1c40f;
}
.Todos
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    width: 100%;
    left: 0;
    margin: 20px 0px;
    background-color: #e74c3c;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
input[type='checkbox']
{
    
    appearance: none;
    background-color: #fff;
    color: currentColor;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
label , input[type='checkbox']
{
    margin: 5px;
}
input:checked
{
    background-color: #f1c40f;
}
.Todo
{
    border-bottom: 2px solid white;
    margin: 5px;
}
.Todos p
{
    text-align: center;
}
label
{
    word-wrap: break-word;
}
#C input
{
    visibility: hidden;
}